.projects-container{
    background-color: white;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
.projects-title{
    text-align: center;
    margin-bottom: 4em;
}
.calc-card-parent .overview-container{
    background-color: black;
}
