.profile-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: fit-content;
    padding: 110px;
    align-items: center;
    justify-content: center;


}
.profile-parent{
    color: aliceblue;
    
}
.profile-picture{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0px 0px 25px 25px;
    border: 3px solid #654286;
    background-image: url('../../../assets/Home/profilephoto.png');
    background-size:165%;
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-y:-150px;
}
.profile-picture:hover{
    transform: scale(1.07);
    transition: .8s ease-out;
}

.profile-details-name{
    font-size: 24px;
    font-family: "Poppins Medium";

}
.profile-details-role{
    margin: 14px 0 24px 0;

}
.profile-details-role h1{
    font-size: 30px;
    font-family: "Poppins Bold";

}
.primary-text{
    color: aliceblue;

}
.highlighted-text{
    color: #ff8331;
}
.profile-role-tagline{
    font-size: 12px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: aliceblue;
    color: black;
}

@media screen and (max-width: 1110px) {
    .profile-picture{
        margin: 0px 0px 25px 25px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}
@media screen and (max-width: 900px) {
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}
@media screen and (max-width: 810px) {
    .profile-picture{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
    }
    .profile-options, .profile-details-role {
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .profile-picture{
        height: 300;
        width: 300px;
        transform: scale(.6);
    }
    .profile-details{
        margin-top:-20px;
    }
    .profile-container{
        margin-top: -80px;
    }
}