.home-container{
display: flex;
flex-direction: column;
background-image: url(../../assets/Home/original.gif);
background-repeat:no-repeat;
background-size:cover;
/* background-position: center; */

}