.footer-parent {
    margin-top: 5em;
    color: white;
    background-color: #1f2235;
    padding-top: 4em;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
    box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.2);;
 
}
.col h4{
    font-family: 'Poppins Bold';
    font-size: 14px;
}

.list-unstyled{
font-family: 'Poppins Regular';
font-size: 12px;
}
.list-unstyled a{
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);;
}