
.navbar-brand{
    display: flex;
    flex-direction: column;
    height: 40px;
    padding-left: 15px;;
    font-family: "Poppins Medium";
}
.navbar-brand:hover {
    transition: .5s ease-in;
    transform: scale(1.07);
    
}
.nav-link{
    text-decoration: none;
    color: black !important;
    display: flex;
    flex-direction: column;
    font-family: "Poppins Light";
    text-align: center;
    border-bottom: 2px solid transparent;
    justify-content: space-between;
}
.nav-link:hover{
    transition: .5s ease-in;
    border-bottom: 2px solid #ff8331;
    transform: scale(1.07);
    font-family: "Poppins Medium";
}
.navbar-toggler{
    color: transparent !important;
    border: none;
    outline: none;
}
.navbar-toggler-icon{
    color: aliceblue !important;
}
.bg-dark {
    background-color: rgb(0, 0, 0) !important;
}
.offcanvas-title{
    margin-left: 110px;
    font-family: "Poppins Medium";
}
.nav{
    color: white;
}
.navbar-nav{
    margin-left: auto;
    padding: 0 15px;
    gap: 25px;
}
