
.navbar-brand{
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 5px;
    margin-left: 5px;
}
.navbar-brand:hover {
    transition: .5s ease-out;
    transform: scale(1.07);
    
}
.nav-link{
    text-decoration: none;
    margin-left: 100px;
    color: aliceblue !important;
    display: flex;
    flex-direction: column;
    font-family: "Poppins SemiBold";
    text-align: center;
    border-bottom: 2px solid transparent;
    justify-content: space-between;
}
.nav-link:hover{
    transition: .5s ease-in;
    border-bottom: 2px solid #ff8331;
    transform: scale(1.07);
}
.navbar-toggler{
    color: transparent !important;
    border: none;
    outline: none;
}
.navbar-toggler-icon{
    color: aliceblue !important;
}
.bg-dark {
    background-color: rgb(0, 0, 0) !important;
}
@media screen and (max-width: 1110px) {
    .navbar-brand{
        padding: 1px;
    }
    .nav-link{
        margin-right: 100px;
    }
}
@media screen and (max-width: 910px) {
    .navbar-brand{
        padding: 1px;
    }
}
@media screen and (max-width: 810px) {
    .navbar-brand{
        padding: 1px;
    }
}