.card-container {
    width: 290px;
    height: 580px;
    display: flex;
    border-radius: 28px;
    box-shadow: 0 0 12px 1px rgba(15, 15, 15, 0.12);
    position: relative;
    justify-content: center;

}
.card-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 28px;

}
.card-overlay{
    position: absolute;
    width: auto;
    height: 20em;
    z-index: 99;
    margin-top: 1em;
    
}
.card-overlay img{
    width: auto;
    height: 100%;
    
}
.card-overlay{
    transition-duration: 1s;
}
