.open-card-container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 28px;
    background:linear-gradient(#ff8331, #e5be91);
    padding: 10px;
    transition-duration: .8s;

}
.info-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
    border-radius: 30px;
    padding: 10px 14px;
    align-items: center;
}
.inbox-container{
    display: flex;
    width: 100%;
    justify-content:space-around;

}
.accessory{
    width: auto;
    height: 3em;
}
.accessory img{
    width: auto;
    height: 100%;
}
.description{
    text-align: center;
    font-size: 11px;
}
.card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    width: auto;
    height: 12em;
    transition: .5s ease-in-out;
}
.card-img:hover{
    transform:scale(1.25);
    transition: .5s ease-in-out;
    
}
.card-img img{
    height: 100%;
    width: auto;

    
}
.card-btn-close{
    font-size: 12px;
}